@{
    ViewData["Title"] = "Home Page";
}


<div class="index-body">
    <dialog id="nickname-dialog" open>
        <p>Type your nickname</p>
        <input type="text" name="nickname" id="nickname-input">
        <button id="nickname-button">Confirm</button>
    </dialog>

    <div class="messages-div">
        <ul id="message-list">

        </ul>
    </div>
    <div class="send-message-div">
        <input id="message-input-box" type="text">
        <button id="send-message-button">Wyślij wiadomość</button>
    </div>

</div>
